UD04/ADICIONAL/ER411.dtd

<!ELEMENT numeros (n1, n2, n6)>
<!ELEMENT n1 (#PCDATA)>
<!ATTLIST n1 letra CDATA #REQUIRED>
<!ATTLIST n1 letra2 CDATA #REQUIRED>
<!ATTLIST n1 letra3 CDATA #REQUIRED>
<!ELEMENT n2 (#PCDATA)>
<!ATTLIST n2 letra CDATA #REQUIRED>
<!ATTLIST n2 letra2 CDATA #REQUIRED>
<!ATTLIST n2 letra3 CDATA #REQUIRED>
<!ELEMENT n6 (#PCDATA)>
<!ATTLIST n6 letra CDATA #REQUIRED>
<!ATTLIST n6 letra2 CDATA #REQUIRED>
<!ATTLIST n6 letra3 CDATA #REQUIRED>
<!ATTLIST n6 letra4 CDATA #REQUIRED>